 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #eef0f5;
    padding: 40px;
}

.container{
    width: 100%;
}

.title{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
}

.title i{
    color: #00b7ff;
    font-size: 28px;
}

.title h1{
    font-size: 35px;
    color: #1f2a44;
    font-weight: bold;
}

.report-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    width: 400px;
    background: white;
    border-radius: 20px;
    padding: 35px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.card-icon{
    font-size: 90px;
    color: #666;
    margin-bottom: 20px;
}

.card h2{
    font-size: 28px;
    color: #222;
    margin-bottom: 12px;
}

.card p{
    color: #666;
    font-size: 20px;
    margin-bottom: 30px;
}

.card button{
    width: 100%;
    padding: 14px;
    border: 2px solid #1e90ff;
    background: white;
    color: #1e90ff;
    font-size: 22px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover{
    background: #1e90ff;
    color: white;
}